*{
    background-color: rgb(191, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

nav{
    color: rgb(197, 252, 252);
    text-decoration: none;
    margin: 15px;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    background-color: rgb(168, 247, 220);
}

a{
    text-decoration: none;
}

a:hover{
    background-color: rgb(87, 199, 161);
}

h1{
    text-align: center;
}
.szoveg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align:justify
}
.szoveg img{
    max-width: 100%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
article{
    max-width: 900px;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}

section{
    border-radius: 12px;
    background-color: aquamarine;
    padding: 10px;
}

ul{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}
footer{
    border-radius: 5px;
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

 @media (max-width:600px) {
    a{
        display: grid;
        grid-template-columns: 1fr;
    }
    *{
        max-width: 100%;
        font-size: 18px;
    }
    .szoveg{
        display: grid;
        grid-template-columns: 1fr;
    }

 }

