*{
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

nav{
    color: azure;
    text-decoration: none;
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}

a:hover{
    background-color: aquamarine;
}

h1{
    text-align: center;
}
.szoveg{
    display: grid;
    grid-template-columns: 2fr;
    gap: 10px;
    text-align:justify
}
.szoveg img{
    max-width: 100%;
    border-radius: 5px;
}
article{
    max-width: 900px;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}

 @media (max-width:600px) {
    a{
        display: grid;
        grid-template-columns: 1fr;
    }
    *{
        max-width: 100%;
        font-size: 18px;
    }
    div{
        display: grid;
        grid-template-columns: 1fr;
    }

 }

